html {
    font-family: FiraSans;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}
body {
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1c1c1c;
    color: #fff;
    width: 100%;
    display: table-cell;
}

section
{
    width: 65%;
    margin-right:auto;
    margin-left:auto;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Bold.woff2') format('woff2'),
        url('../fonts/Merriweather-Bold.woff') format('woff'),
        url('../fonts/Merriweather-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../fonts/FiraSans-Black.woff2') format('woff2'),
        url('../fonts/FiraSans-Black.woff') format('woff'),
        url('../fonts/FiraSans-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}